gmail_to_gdrive.json
{
  "name": "gmail_to_gdrive",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyWeek"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -464,
        -80
      ],
      "id": "ff67ea6f-2122-407c-b921-6f224b90ed39",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "TwiJHwsR6Ojr6Dor",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5df2b280-124a-47ba-8f29-d2640265f1a0",
              "leftValue": "subject",
              "rightValue": "Subject contains \"statement\" OR Subject contains \"investment\" OR Subject contains \"shareholder\"",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -272,
        -80
      ],
      "id": "701d5d9f-c286-443a-ab4c-809d51bc78ae",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        -96
      ],
      "id": "60f51f84-bd30-4a25-8d83-5d64642e85dc",
      "name": "Copy file"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c840be5c-23df-4a67-8479-6cca528064af",
              "leftValue": "attachment",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        -80
      ],
      "id": "dd11f2b3-0e19-4954-8f65-da86299f13c0",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI assistant responsible for classifying investment-related emails.\n\nAnalyze the email subject and body.\n\nSubject:\n{{ $json.subject }}\n\nEmail Body:\n{{ $json.text || $json.body || $json.snippet }}\n\nYour tasks:\n\n1. Determine whether the email is investment-related.\n2. Identify the company or financial institution.\n3. Classify the document type.\n\nDocument types:\n- Dividend\n- Shareholder Notice\n- Annual Report\n- Contract Note\n- Mutual Fund Statement\n- CAS\n- Tax Document\n- Portfolio Statement\n- IPO\n- Rights Issue\n- Bonus Issue\n- Other\n\nReturn ONLY valid JSON in the following format:\n\n{\n  \"isInvestment\": true,\n  \"company\": \"Infosys\",\n  \"documentType\": \"Dividend\",\n  \"folder\": \"Investment Documents/Infosys/Dividend\",\n  \"reason\": \"Dividend declaration email from Infosys.\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        112,
        -96
      ],
      "id": "55c76042-c6e3-4de4-9d24-19fba5df8499",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        112,
        80
      ],
      "id": "5e248db5-58f6-44c8-bcc7-cedd2171d831",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "QJkKpSfqh9xiFPO8",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "302e2ec1-5434-4280-bbfe-a5c747b505b3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "82bdec12ad9631537ef77ce69d7e194807138a5e0427f4891b5ff74cee75dbe7"
  },
  "nodeGroups": [],
  "id": "wg3NbgNsN4u1VDVV",
  "tags": []
}